@import url('../styles/meuRoxinho.css');
@import url('../styles/calculadora.css');
<<<<<<< HEAD
:root{
  --cor-primaria:rgb(138, 5, 190);

  --primary-color: #8a05be;
  --color-links: #585858;
  --color-hover: #e2c0ef;
    
=======
:root {
  --cor-primaria: rgb(138, 5, 190);
>>>>>>> 64c507b6d41f4783034b17c2872da2668e7dc226
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Graphik-Medium, Graphik-Regular, 'Gotham SSm A', 'Gotham SSm B',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.cartaoNubank {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}
#cc {
  color: #ba05be;
  font-size: 40px;
}
.texto {
  font-size: 40px;
  width: 40%;
  height: 90%;
  text-align: justify;
  margin: auto;
  padding: 15px;
  margin-top: 150px;
  margin-left: 70px;
}
#saibamais {
  color: #ba05be;
  padding: 0px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
}

.img {
  width: 50%;
  height: 50%;
  margin: auto;
  padding-left: 220px;
  margin-right: 40px;
}

#img {
  width: 230px;
  height: 420px;
  margin-top: 60px;
}

#cartaoInternacional {
<<<<<<< HEAD
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f5f5f5;
  }
  #imgCartInternacional {
    width: 50%vw;
    height: 50%vh;
    margin: auto;
  }
  #CI {
    font-size: 40px;
    padding-right: 90px;
  }
  #textoCard {
    width: 50%;
    height: 50%;
    text-align: left;
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 30px;
  }
  p {
    /* padding-right: 200px; */
    font-size: 16px;
  }
  a {
    color: #8A05BE;
    text-decoration: none;
  }


 /* css da header */
  
  .navegation li a {
    color: var( --color-links);
    text-decoration: none;
    
  } 

  header {
      display: flex;
      width: 100vw;
      height: 4.5em;
      background-color: rgb(255, 255, 255);
      line-height: 1.35;
      justify-content: space-between;
      align-items: center;

      font-size: 1.125rem;

      position: fixed;

      font-family: 'Roboto', sans-serif;
      font-weight: inherit;
      
  }

  figure {

    margin-right: -4em;
    
  }

  .navegation {
      display: flex;
      list-style: none;
      justify-content: space-around;   
  }

  .navegation li {

    margin: 0.7em;

    font-weight: 500;
    letter-spacing: -0.03em;
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 500;
  }

  .navegation li span {
    color: var(--primary-color);
  }

  .navegation li a:hover {
    color: var(--color-hover);
  }

  .logoNubank {
      width: 55px;
  }

  .acess {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 2em;
    padding: 2em;

    margin-left: -2em;

  }

  .login-acess {

    text-decoration : none;
    position: relative;
    text-align: center;

    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-weight: 500;
    

  }
  
  .login-acess:after {
     content: "";
     position: absolute;
     right: 0;
     left: 0;
     bottom: 0;
     border-bottom: 2px solid var(--primary-color);
     color: var(--primary-color);
     transform: scaleX(0);
     transition: 0.3s;
     transform-origin: left;
 }
 
  .login-acess:hover:after {
     transform: scaleX(1);
 }
 

  .login-icon {
    width: 30px;
  }

  .register-nubank {

    font-size: 1em;
  
    margin: 1em;
   
    height: 3em;
    width: 12em;
    cursor: pointer;
    border-radius: 6.25em;


    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
  }

  /* final do css da header */
  
=======
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #f5f5f5;
}
#imgCartInternacional {
  width: 50%vw;
  height: 50%vh;
  margin: auto;
}
#CI {
  font-size: 40px;
  padding-right: 90px;
}
#textoCard {
  width: 50%;
  height: 50%;
  text-align: left;
  margin-top: 90px;
  margin-left: 100px;
  margin-right: 30px;
}

p {
  /* padding-right: 200px; */
  font-size: 16px;
}
a {
  color: #8a05be;
  text-decoration: none;
}

/*************** ACREDITAR INICIO ***************/

.conteiner {
  width: 100vw;
  height: 100vh;
  background: purple;
  /*   font-family: Graphik-Regular,      "Gotham   SSm A", "Gotham SSm B",  "Helvetica       Neue", Helvetica,  Arial, sans-serif  !important; */
  font-family: sans-serif;
  background-image: url(https://nubank.com.br/_next/static/images/2af80081db969ec5f038fea9b4547563-challenge-system-large.jpg.webp);
  object-fit: cover;
  background-repeat: no-repeat;
}

.textos {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 10%;
  padding: 30vh 5vh 10vh 5vh;
  /*    background: pink;   */
  width: 24rem;
}

.titulo {
  /*   letter-spacing: 1.5px; */
  font-size: 2.9em;
  padding-bottom: 20px;
}

.link {
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  position: relative;
  width: 15rem;
  /*  background-image:            url(https://image.flaticon.com/icons/svg/545/545682.svg);
  background-repeat: no-repeat;
  background-position-x: right;  */
}

.link:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: transform 0.3s ease;
}

.link:after {
  border-bottom: 2px solid white;
  transform: scalex(0);
}

.link:hover:after {
  transform: scalex(1);
}
/***************  ACREDITAR FIM ***************/
>>>>>>> 64c507b6d41f4783034b17c2872da2668e7dc226
